@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(50deg, #68aeff, #c67df0);
    background-color: (0, 0, 0, 0);
    height: 100vh;

}

header img {
    width: 50px; 
    height: 50px; 
    grid-column: 3; 
    justify-self: right;
}
main h2 {
    text-align: center; 
    height: 20px;
    background-color: (0, 0, 0, 0)
}
  
header {
    background-color: rgba(244, 243, 235, 0);
    color: #000000;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.25em;
    justify-content: center; 
    
}


header h1 {
    justify-self: start;
    font-size: 1.5em;
    padding-left: 10px; 
    fill: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif; /* Change the font here */
}



footer {
    background-color: #353D4f;
    /* #CCD0D7 , #CDAD47, #F4F3EB*/
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    justify-content: right; 
    height: 200px;
    min-width: 500px; /* Set a minimum width for the container */
    padding: 0 20px; /* Add padding to prevent the boxes from touching the edges */
    box-sizing: border-box;
    margin-top: 100px;
    
    
}

/* Side Image */

.side-image2 {
    position: fixed;
    width: 25px !important;
    height: 30px !important;
    transform: translateY(-200%);
}

/* Content */
.content {
    margin-left: 20px; /* Adjust the margin to make space for the image */
    /* Other styles for the main content */
}

.box{
    margin-bottom: 40px;
}
.box1, .box2{
    background-color: #F4F3EB;
    height: 100px;
    width: 400px;
    border-radius: 5px 5px 5px 5px;
    max-height: 35vh;
    box-shadow: 0px 12px 18px -6px rgba(0,0,0,0.3);
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    font-size: 32px;
    
    

}
/* Media Query for Adjusting Box Width */
@media (max-width: 640px) {
    .box {
        width: calc(100% - 40px);
        margin:5px 0; /* Set box width to 100% of container width minus padding */
    }
    .grid-container{
        justify-content: center;
        justify-self: center;
    }
    
}
@media (max-width: 755px) {
    .side-image {
        display: none;
    }
}
/* Dropdown Button */
.dropbtn {
    grid-column: 3;  /* Move the button to the third column */
    justify-self: end; 
    background-color: #68aeff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    padding: .25px 1px;
    border-radius: 10px;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    grid-column: 3; 
    justify-self: end;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    right:0; /* Adjust the value as needed */
}
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    right: 0;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #5187c4;}

